<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link href="../styles/index.css" type="text/css" rel="stylesheet"/>

  <!-- Custom Fonts -->
  <link href="../styles/font-awesome.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- jQuery -->
  <script src="/scripts/jquery.js"></script>

  <script src="/scripts/appintegration.js"></script>

  <script>/* Chameleon - better user onboarding */!function(t,o,a){var n="chmln",e="setup identify alias track set show on off custom help _data".split(" "),c="https://fast.trychameleon.com/messo/"+a+"/messo.min.js",s=o.localStorage&&o.localStorage.getItem(n+":messo-url");o[n]||(o[n]={}),o[n].accountToken=a,o[n].location=window.location.toString();for(var i=0;i<e.length;i++)!function(){var t=o[n][e[i]+"_a"]=[];o[n][e[i]]=function(){t.push(arguments)}}();var l=t.createElement("script");l.src=s||c,l.async=!0,t.head.appendChild(l)}(document,window,"Sxj6nnShTett38sjDkjwvZdYqqWUkS5FcBWFKaZclf3UjllBG7rdUWQ89cQNt-y2kSnF1rXIIPlRUk");</script>

</head>
