.generated-number {
    display: inline-block;
    width: 70px;
    border: 1px solid #ccc;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}

.page-scroll-wrapper {
    position: absolute !important;
    height: 100% !important;
    bottom: 0 !important;
    padding-top: 51px !important;
    overflow: auto !important;
}